.email-app {
    margin-left: 10px;
}

.detailed-body {
    color: rgb(35, 33, 36);
}

.email-filter {
    border: none;
    border-radius: 7px;
}

.email-filter:focus-visible {
    outline-color: #1ab792;
}



/* color for header?     background-color: rgb(24 119 126 / 79%); */