/* pages */

@import './pages/EmailApp.css';

/* cmps */

@import './cmps/EmailList.css';
@import './cmps/EmailPreview.css';
@import './cmps/EmailDetails.css';
@import './cmps/EmailCompose.css';
@import './cmps/EmailSideBar.css';