/* seperate if more styles */

.email-list {
    width: 80%;
    border: 2px solid #2a8f7a6e
}

/* .email-list>*:not(:last-child) {
    border-bottom: 2px solid #2a8f7a6e;
} */

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 0.9fr 1.2fr 0.7fr 0.2fr 0.2fr;
    grid-template-rows: 1fr;
    gap: 5px 0px;
    grid-template-areas: "from subject body date star trash";
}

.from {
    grid-area: from;
}

.star {
    grid-area: star;
}

.fa-trash {
    grid-area: trash;
}

.date {
    grid-area: date;
}

.body {
    grid-area: body;
}

.subject {
    grid-area: subject;
}