.email-preview {
    border: 2px solid green;
    padding: 10px 5px;
    padding-left: 30px;
    
}

a:hover {
    font-weight: normal;
}

.email-preview.bold {
    font-weight: bold;
}

.fa-star::after {
    content: "\f005"
}

.fa-star.yellow {
    color: #fcca3d;
}