.email-preview{
    border: 2px solid green;
}

.email-preview span {
    margin-inline-end: 10px;
}

a:hover {
    font-weight: normal;
}

.email-preview.bold {
    font-weight: bold;
}

.fa-star::after {
    content: "\f005"
}

.fa-star.yellow {
    color: #fcca3d;
}


