.email-control {
    width: 500px;
}

.compose-btn {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    color: #3c4043;
    display: inline-flex;
    font-weight: 500;
    height: 40px;
    width: 115px;
    overflow: hidden;
    padding: 0 24px 0 0;
}

.btn {
    margin-bottom: 5px;
    background-color: #fff;
}

/* todo-find the inbox icon.. */

.fa-inbox::before {
    content: "\f01c";
}

.fa-trash::before {
    content: "\f2ed";
}

/* overwritten from details? */

.fa-trash::after {
    content: " ";
}

.fa-star::before {
    content: "\f005";
    transition: .3s;
}

.fa-star:hover {
    color: #fcca3d;;
}

.fa-star::after {
    content: " "
}