
.clean-list {
	list-style: none;
	padding: 0;
	list-style-type: none;
	margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: bold;
}

body {
    background-color: rgb(227, 230, 231);
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

footer {
	text-align: center;
	margin-top: auto;
	padding: 2em 0em;
}