.home-page {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
        "hero hero"
        "mail keep";
}

.hero {
    grid-area: hero;
    height: 200px;
    background-color: #fff;
    padding: 5em;
}

.mail {
    grid-area: mail;
    height: 200px;
    background-color: #fff;

}

.keep {
    grid-area: keep;
    height: 200px;
    background-color: #fff;

}