.loading {
    display: flex;
    flex-direction:column;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.loading h1 {
    font-size: 2em;
}

.loading img {
    width: 300px;
}