.user-msg {
    font-size: 1.1em;
    position: fixed;
    left: 53%;
    top: 20%;
    transform: translate(-80%, -50%);
    background-color: honeydew;
    color: rgb(90, 90, 90);
    font-weight: bold;
    padding: 1em 1.25em;
}

.user-msg button {
    font-size: 0.7em;
}

.user-msg>*:not(:last-child) {
    margin-inline-end: 10px;
}

.user-msg.error {
    background-color: rgba(240, 128, 128, 0.5);
}

.user-msg.success {
    background-color: #85b685e5;
    box-shadow: 0 0 11px 1px rgb(146 145 145 / 84%)
}