.note-edit-bcg span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 15px;
    border: 1px solid lightgray;
}

.note-edit-bcg span:hover {
    box-shadow: 1px 1px 4px 3px #e7dede
}

.note-edit-bcg>*:not(:last-child) {
    margin-inline-end: 5px;
}