.notes-list {
    background-color: #f0e3ca;
    column-count: 1;
    margin: 2em 2em;
    padding: 1em;
}

@media (min-width: 460px) {
    .notes-list {
        column-count: 2;
    }
}

@media (min-width: 650px) {
    .notes-list {
        column-count: 3;
    }
}

@media  (min-width: 940px) {
    .notes-list {
        column-count: 4;
    }
}