.notes-add>*:not(:last-child) {
    margin-inline-end: 20px;
}

.notes-add {
    padding-top: 2em 
}

.notes-add form > *:not(:last-child) {
    margin-inline-end: 10px;
}

.notes-add input {
    padding: 0.5em 1em;
    line-height: 1.5em;
    border-color: transparent;
    outline: none;
    height: fit-content;
    width: 100%;
    font-size: 1.2em;
    border-radius: 7px;
}

@media (max-width: 600px) {
    .notes-add form {
        flex-direction: column;
    }

    .notes-add-btns {
        margin-top: 1em;
    }
}