.note-actions {
    font-size: .75em;
	margin-top: auto;
}

.note-actions i {
font-size: 1.2em;
}
.pinned.fas.fa-thumbtack {
    color: #e7e7e7;
}

.note-actions > *:not(:last-child) {
    margin-inline-end: 10px;
}

.fa-thumbtack::after {
    content: "\f08d";
}

.fa-trash-alt::after {
    content: "\f2ed";
}

.fa-palette::after {
    content: "\f53f";
}

.fa-edit::after {
    content: "\f044";
}

.fa-at::after {
    content: "\f1fa"
}

