.note-actions {
    font-size: .75em;
    margin-top: 15px;
}

.pinned.fas.fa-thumbtack {
    color: rgb(255, 255, 255);
}

.note-actions > *:not(:last-child) {
    margin-inline-end: 10px;
}

.fa {
    font-family: icons;
}

.fas {
    font-family: icons-solid;
}

.fa-thumbtack::after {
    content: "\f08d";
}

.fa-trash-alt::after {
    content: "\f2ed";
}

.fa-palette::after {
    content: "\f53f";
}


