.note-preview {
    /* background-color: rgb(184, 196, 173); */
    max-width: 250px;
    margin-bottom: 20px;
    padding: 1em;
    break-inside: avoid;
    overflow: hidden;
    transition: 0.5s;
}

.note-preview img {
    width: 100%;
}