@import url("basics/reset.css");
@import url("basics/HomaPage.css");
@import url("basics/MainNav.css");
@import url("basics/UserMsg.css");
@import url("basics/fonts.css");
@import url("basics/base.css");
@import url("helpers/helpers.css");


/* EmailApp */
@import '../../apps/Email/assets/css/email-main.css';

/* KeepApp */

@import '../../apps/Keep/assets/css/keep-main.css';

@font-face {
    font-family: icons;
    src: url(../fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: icons-solid;
    src: url(../fonts/fa-solid-900.ttf);
}